$primary: #00d698;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
::before,
::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: arial, Sans-Serif;
}
body {
  margin: 0;
  text-size-adjust: 100%;
  min-height: 100%;
  max-height: auto;
  background: $primary-dark;
  overflow: scroll;
}
nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  h3 {
    color: $primary;
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 1.5px;
  }
  select {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
}
.editor {
  height: 50%;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 3px 1px black inset;
  @include center;
  overflow: auto;
  align-self: stretch;
  justify-self: stretch;
  position: sticky;
  top: 0;
  z-index: 5;
}
.edit-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  color: white;
  font-weight: bolder;
  > div {
    @include center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  #bg {
    min-width: 30%;
  }
  .styles {
    @include center;
    justify-content: space-around;
    input {
      min-width: 30%;
    }
  }
  input[type='text'] {
    max-width: 10%;
    text-align: center;
  }
}
input[type='color'] {
  appearance: none;
  padding: 0;
  border: none;
}
